#navegacao a:hover{
	color: orange;
}
#caixaRelogio input[type="text"]{
	border: none;
	background: white;
	color: black;
}
#caixaTipoConta input[type="text"]{
	border: none;
	background: #f8f9fa;
	color: black;
}